/* Para Mobile */
.container{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

h1, h2{
    font-weight: bold; 
    color: #2c3e50;
    padding: 15px 0;
} 

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

p{
    text-align: justify;
    line-height: 1.8em;
    color: #0000;
}

.conteudo{
    height: auto;
    overflow: hidden;
}

.area{
    min-height: 300px;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.cabecalho-topo{
    display: none;
    position: fixed;
    height: 60px;
    background: #fff;
    overflow: hidden;
    z-index: 20;
}

.logo{
    float: left;
    height: 60px;
    width: 100px;
    background: #34495e;
}

.menu-principal{
    float: right;
    display: inline-block;
    padding: 23px 0;
    margin-left: 20px;
}

.menu-principal li{
    display: inline;
}

.menu-principal li>a{
    text-decoration: none;
    color: #2c3e50;
    font-size: 1em;
    padding: 33px 15px;
    transition: .2s;
}

.menu-principal li>a:hover{
    background: #eee;
}

.slider{
    position: relative;
    height: 100vh;
    background-image: url("../src/img/slider1.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    filter: contrast(50%) saturate(50%);
}

@keyframes animate-slider{
    
}

.titulo-principal{
    position: absolute;
    color: #fff;
    font-size: 6em;
    top: 70vh;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    bottom: 0;
    font-family: 'Lobster', cursive;
    text-transform: lowercase;
    /* text-shadow: 0 0 3px #34495e; */
}

.box-cards{
    background: #ecf0f1;
}

.imagem-galeria{
    position: relative;
    height: 300px;
    display: inline-block;
    background-size: 150%;
    background-position: center; 
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagem-galeria:hover{
    background-size: 160%;
}

.imagem-galeria:after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    opacity: 0;
    width: 50%;
    height: 50%;
    outline: 2px solid #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagem-galeria:hover:after{
    width: 85%;
    height: 85%;
    opacity: 1;
} 

.imagem-galeria:nth-child(4), 
.imagem-galeria:nth-child(5),
.imagem-galeria:nth-child(6){
    display: none;
}

.vermais-galeria{
    position: relative;
    display: inline-block;
    font-size: .9em;
    font-weight: bold; 
    text-align: center;
    color: #2c3e50;
    outline: 1px solid #2c3e50;
    padding: 15px;
    margin: 15px 0;
    float: right;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.vermais-galeria:hover{
    color: #fff;
}

.vermais-galeria:after{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 0%;
    height: 100%;
    background: #2c3e50;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.vermais-galeria:hover:after{
    width: 100%;
}

/* .vermais-galeria:after{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    background: #2c3e50;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.vermais-galeria:hover:after{
    opacity: 1;
    height: 400%;
}  */

/* .box-contato{
    background: #ecf0f1; 
    border-top: 1px solid #34495e; 
} */

.rodape{
    background: #34495e;
    color: #fff;
}

.rodape h3{
    font-size: 1.3em;
    padding: 15px 0 10px 0;
}

.rodape p{
    line-height: 1.5em;
}

.rodape a{
    color: #fff;
}

.rodape ul li{
    padding: 4px 0;
}

.copy{
    padding: 10px 15px;
    background: #2c3e50;
    color: #fff;
}

.copy a{
    color: #fff;
}

.copy a:hover{
    color: #2980b9;
}

@media only screen and (min-width: 640px) {
    /* Para tablets: */
    .imagem-galeria{
        height: 200px;
    }

    .imagem-galeria:nth-child(4), 
    .imagem-galeria:nth-child(5),
    .imagem-galeria:nth-child(6){
        display: inline-block;
    }


}

@media only screen and (min-width: 1024px) {
    /* Para desktop: */
    .box-quem-somos{
        padding: 150px 0; 
        background-size: cover;
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url("../src/img/img1.jpg");
        filter: saturate(30%);
    }

    .img-quem-somos{
        padding-left: 20px; 
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 450px;
    }

    .background-text{
        background: #fff;
        padding: 35px;
        display: inline-block;
    }

    .imagem-galeria{
        height: 300px;
    }
    


}