/* Para Mobile */
.container{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

h1, h2{
    font-weight: bold; 
    color: #2c3e50;
    padding: 15px 0;
} 

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

p{
    line-height: 1.8em;
    color: #0000;
}

.pattern-padding{
    padding: 0 7.5px;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.conteudo{
    height: auto;
    overflow: hidden;
}

.conteudo::after{
    content: "";
    clear: both;
}

.area{
    min-height: 300px;
}

.wrapper{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    clear: both;
}

.modal{
    display: none;
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal.is-open{
    display: block;
}

.modal>.imagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    height: 80%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cabecalho-topo{
    z-index: 15;
    position: fixed;
    height: 80px;
    overflow: hidden;
}

.invertido .logo-cabecalho{
    background-image: url("../src/img/logomarcaEscuro.png");
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    margin: 5px 0 0 15px;
    height: 80px;
    width: 80px;
    float: left;
}

.nome-cabecalho{
    display: none;
}

.invertido .nome-cabecalho{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 80px;
    color: #2C3E50;
}

.open-menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    padding: 15px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
}

.open-menu:hover{
    background: #2c3e50;
    color: #fff;
    border: 1px solid #2c3e50;
}

.cabecalho-topo.invertido{
    background: #fff;
    box-shadow: 0 0 1px #000;
}

.cabecalho-topo.invertido .open-menu{
    color: #2c3e50;
    border: 1px solid #2c3e50;
}

.cabecalho-topo.invertido .open-menu:hover{
    background: #2c3e50;
    color: #fff;
    border: 1px solid #2c3e50;
}

.menu-principal{
    overflow: hidden;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 0%;
    background: #fff;
    transition: .5s;
}

.menu-principal.is-open{
    width: 100%;
    height: 100%;
}

.close-menu{
    position: relative;
    z-index: 25;
    background-image: url("../src/img/closeEscuro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px;
    width: 7%;
    height: 7%;
    float: right;
    cursor: pointer;
}

.menu-principal ul{
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}

.menu-principal.is-open ul{
    opacity: 1;
}

.menu-principal ul li{
    margin: 30px 0;
}

.menu-principal ul li a{
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #2c3e50;
    font-size: 2em;
    padding: 0 4vw;
    transition: .2s;
}

.menu-principal ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-block;
    z-index: -1;
    width: 0;
    height: 100%;
    background: #2c3e50;
    transition: .2s;
}

.menu-principal ul li a:hover{
    color: #fff;
}

.menu-principal ul li a:hover::after{
    left: 0;
    width: 100%;
}

.slider{
    position: relative;
    height: 100vh;
    background-image: url("../src/img/slider1.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

@keyframes animate-slider{
    
}

.conteudo-slider{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 50%;
    transform: translateY(-50%);
    width: 100%;
    bottom: 0;
}

.logo-principal{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("../src/img/logoBranco.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titulo-principal{
    text-align: center;
    color: #fff;
    font-size: 8vh;
    /* font-family: 'Lobster', cursive; */
    text-transform: lowercase;
    /* text-shadow: 0 0 3px #34495e; */
}

.conteudo-slider-min{
    top: 70%;
}

.slider-min{
    height: 400px;
    background-image: url("../src/img/slider1.jpg");
}

.titulo-principal-min{
    top: 50%;
}


.img-quem-somos{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px;
}

.imagem-galeria{
    position: relative;
    height: 300px;
    display: inline-block;
    background-size: cover;
    background-color: #2c3e50;
    background-position: center; 
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagem-galeria>.descricao-imagem{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    padding: 10px;
    text-align: center;
    width: 85%;
    height: 85%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagem-galeria:hover>.descricao-imagem{
    opacity: 1;
} 


/* .imagem-galeria:hover{
    background-size: 160%;
} */

.imagem-galeria:after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    opacity: 0;
    width: 85%;
    height: 85%;
    background: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imagem-galeria:hover:after{
    opacity: 1;
} 

.imagem-galeria:nth-child(4), 
.imagem-galeria:nth-child(5),
.imagem-galeria:nth-child(6){
    display: none;
}

.botao-principal{
    z-index: 1;
    position: relative;
    display: inline-block;
    font-weight: bold; 
    text-align: center;
    color: #2c3e50;
    outline: 1px solid #2c3e50;
    padding: 15px;
    margin: 15px 0;
    float: right;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.botao-principal:hover{
    color: #fff;
}

.botao-principal::after{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 0%;
    height: 100%;
    background: #2c3e50;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.botao-principal:hover::after{
    width: 100%;
}

/* .botao-principal:after{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    background: #2c3e50;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.botao-principal:hover:after{
    opacity: 1;
    height: 400%;
}  */

/* .box-contato{
    background: #ecf0f1; 
    border-top: 1px solid #34495e; 
} */

.box-cards{
    background: #ecf0f1;
}

.box-cards.white{
    background: #fff;
}

.box-cards h1{
    padding-left: 15px; 
}

.box-cards .botao-principal{
    margin-right: 15px;
}

.link-card>.card>p{
    color: #000;
}  

.link-card:hover>.card>p{
    text-decoration: underline;
} 

.card-image{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.contato-form input, .contato-form textarea{    
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
}

.contato-form textarea { 
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    min-height: 250px;
}

.contato-form input[type="submit"]{ 
    background: #34495e;
    border: none;
    padding: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}


.rodape{
    background: #34495e;
    color: #fff;
}

.rodape h3{
    font-size: 1.3em;
    padding: 15px 0 10px 0;
}

.rodape p{
    line-height: 1.5em;
}

.rodape a{
    color: #fff;
}

.rodape ul li{
    padding: 4px 0;
}

.copy{
    padding: 10px 15px;
    background: #2c3e50;
    color: #fff;
}

.copy a{
    color: #fff;
}

.copy a:hover{
    color: #2980b9;
}

@media only screen and (min-width: 640px) {
    /* Para tablets: */
    .menu-principal ul li a{
        font-size: 5em;
    }

    .invertido .nome-cabecalho{
        font-size: 2.5em;
    }

    [class*="box-"] {
        padding: 35px;
    }

    .imagem-galeria{
        height: 200px;
    }

    .imagem-galeria:nth-child(4), 
    .imagem-galeria:nth-child(5),
    .imagem-galeria:nth-child(6){
        display: inline-block;
    }


}

@media only screen and (min-width: 1024px) {
    /* Para desktop: */
    .open-menu{
        margin-right: 0;
    }

    .box-quem-somos{
        padding: 150px 0; 
        background-size: cover;
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url("../src/img/img1.jpg");
        /* filter: saturate(30%); */
    }

    .box-quem-somos p, .box-quem-somos h1{
        padding: 10px 20px 0 20px;
    }

    .img-quem-somos{
        height: 460px;
    }

    .background-box{
        background: #fff;
        display: inline-block;
    }

    .pattern-padding{
        padding: 0 15px;
    }

    .imagem-galeria{
        height: 300px;
    }
    
    /* .box-cards{
        padding: 150px 0; 
        background-size: cover;
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url("../src/img/img2.jpg");
        filter: saturate(30%);
    }
    
    .card{
        background: #fff;
    } */
}